<style>
body { margin: 50px auto; max-width: 70em }
h1 {margin: .6em;}
p { font-size: 1.3em; font-weight: normal; line-height: 1.4; margin: 1em; }
table { width: 100% !important; margin: 1.3em; }
</style>